.item-container {
  margin: 3rem 7.75%;
}

.title-cart {
  margin-bottom: 5.6rem;

  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
}

.item-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
}

.item-card-list {
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  width: 51%;
}

.item-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: relative;

  gap: 4rem;
  padding: 0.8rem 0;

  margin: 1.6rem 0;
}

.item-card::before{
  content: '';
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  width: 100%;
  height: 0.5px;

  background: #00000040;
}

.card-leftSide {
  width: 21%;
}

.card-leftSide figure {
  width: 100%;
  height: 100%;
}

.card-leftSide img {
  width: 100%;
  height: 100%;
}
  
.card-rigthSide {
  display: flex;
  flex-direction: column;
  
  width: 72%;

  color: #374151;
}

.card-rigthSide h3 {
  height: 5.8rem;
  margin-bottom: .8rem;
  
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical; 
}

.card-collor-size {
  display: flex;
  align-items: center;
  text-transform: capitalize;

  gap: 3.2rem;
}

.card-collor-size p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}

.card-collor-size span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 72px;
  height: 40px;

  color: #000;
  font-size: 2rem;
  line-height: 2.5rem;
  background: #fff;
  border: 1px solid #000;
  border-radius: 2rem;
}

.card-controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3.2rem;
}

.card-controllers strong {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #374151;
}

.button-controller {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
}

.button-controller button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  color: #000;
  font-size: 2.5rem;

  background: #fff;

  border: 1px solid #000;

  transition: all .2s ease-in-out;
}

.button-controller button:hover {
  color: #fff;
  background: #000;
}

.button-controller span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.7rem;
  height: 4rem;

  font-size: 2.5rem;
  background: #fff;
  border: 1px solid #000;
}

.trash-button {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .2s ease-in-out;
}

.trash-button:hover {
  background: #c6c5c59f;
  border-radius: 50%;
}

.box-total {
  margin-top: 1.6rem;
  width: 37%;
}

.box-container {
  position: sticky;
  top: 5rem;

  padding: 3.2rem;
  background: #fff;
  border-radius: 8px;
}

.box-title {
  margin-bottom: 2.6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
}

.box-finalValue {
  display: flex;
  justify-content: end;

  font-weight: 700;
  line-height: 3.9rem;
  font-size: 3.2rem;
  color: #1A1A1D;

  margin-bottom: 3.2rem;
}

.finisheBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;

  padding: 2.4rem 1.6rem;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-transform: uppercase;

  border-radius: 1.8rem;
  
  background: #1A1A1D;

  transition: all .2s ease-in-out;
}

.finisheBuy:hover {
  opacity: .9;
}

@media(max-width: 940px) {
  .item-content {
    flex-direction: column;
    gap: 4rem;
  }

  .item-card-list {
    width: 100%;
  }

  .box-total {
    width: 100%;
  }
}

